.container {
    width: 100%;
    height: 100%;
    background-color: white;
    align-items: center;
}

.picture {
    width: 100%;
    height: 85%;
}

.button {
    width: 400px;
    height: 100px;
    margin: 100px
}
